 body{
     height: 100vh;
     background-color: rgb(0, 132, 255);
 }
 
 .container{
    
    left: 50%;
    top: 50%;
    padding: 100px;
    width: 300px;
    background-color: yellow;
    text-align: center;
}